.App {
  display: flex;
}

.primary-nav {
  display: flex;
  align-items: flex-end;
  margin: 20px;
}

.logo-home {
  display: flex;
  margin-right: auto;
}

.page-links {
  display: flex;
}

nav a {
  text-decoration: none;
  margin-right: 100px;
  color: dimgray
}
