.App {
  display: flex;
  flex-direction: column;
}

.logo-home {
  display: flex;
  padding: 20px;
  width: 200px;
  margin-right: auto;
}

.page-links {
  display: flex;
}

.page-links > i {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: dimgray;
}

a:hover, a:focus {
  color: gray;
}

.slogan {
  font-size: 36px;
  margin: 20px;
  text-align: center;
}

.divider {
  display: flex;
  justify-content: center;
  margin: 25px 0px;
}

.divider-title {
  width: 30%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.broken-hr {
  background-color: black;
  height: 1px;
  width: 30%;
  margin-top: 12px;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#human {
  font-weight: bolder;
}

#it {
  font-weight: bolder;
}

.slide {
  background: red;
}

a.active {
  color: orange;
}

.background-image {
  width: -webkit-fill-available;
  height: 500px;
}

.contact-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dimgray;
  width: -webkit-fill-available;
  height: 500px;
  color: lightgray;
}

.form-control {
  width: 50%;
  border: 1px solid #ccc;
  padding: 10px;
}

.control-error {
  border: 1px solid red;
}

.flex-centered-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button { }

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  padding-bottom: 25px;
  font-weight: bold;
  color: lightgray;
}

.bm-item:focus {
  outline: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
